.meme-container {
  border: 1px solid black;
  background-color: white;
  width: fit-content;
  height: fit-content;
}

.meme-text {
  z-index: 2;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

.meme-image {
  display: block;
  min-width: 400px;
  min-height: 400px;
}

.fire {
  background-color: red;
}

.fire-border {
  border: 3px dashed red;
}

.water {
  background-color: blue;
}

.water-border {
  border: 5px double blue;
}

.earth {
  background-color: green;
}

.earth-border {
  border: 6px groove green;
}