section {
  margin: 20px auto;
}

#meme-image-container {
  height: 480px;
  width: 640px;
  background-color: white;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#meme-text {
  position: absolute;
  top: 300px;
  max-width: 400px;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
}

#normal , .normal {
  background-color: black;
  border: black solid 1px;
}

#fire , .fire {
  background-color: red;
  border: red dashed 3px;
}

#water , .water {
  background-color: blue;
  border: blue double 5px;
}

#earth , .earth {
  background-color: green;
  border: green groove 6px;
}